configuration {
    drun-display-format: "{name} [<span weight='bold' size='small'><i>({generic})</i></span>]";
    sidebar-mode: true;
    fixed-num-lines: false;
    sorting-method:	"normal";
    disable-history:	false;
    scroll-method:	0;
    window-thumbnail:	true;
    display-drun:		"Apps";
    display-window:	"Windows";
    display-filebrowser: "Files";
    display-combi: "Global";
    display-history: "No";
}

@theme "dmenu.rasi"
//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
